<IfModule mod_rewrite.c>
    RewriteEngine On

    # Descomentar si tu servidor no usa HTTPS automáticamente
    # RewriteCond %{HTTPS} !=on
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Permitir archivos existentes y carpetas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo a index.php
    RewriteRule ^ index.php [L]
</IfModule>
